/**
 * @file
 *
 * Base theme
 *
 * Main.css
 *
 */
html,body{
	height:100%;
}

body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.5em;
	margin:0 auto;
	padding-top: 50px;
}

#footer{
	background-color: #080808;
	color: #FFF;
	margin: 4% 0% 0;
	height: auto;
	top: 100%;
	position: relative;
	display:block;
	width: 100%;
	overflow:hidden;
	padding: 0 auto;
	
	.above, .below{
		margin: 0 5%;
	}
	
	.above{
		padding: 1% 0;
		border-bottom: thin #918A8A solid;
	}
	
	.below{
		padding: 1% 0;
		font-size: 0.75em;
		
		div.legal{
			
			width: 100%;
			overflow: hidden;

			ul{
				padding-left: 0;
				list-style-type: none;
				li{
					overflow:hidden;
					float: left;
					padding: 0 1%;
				
					&:first-child{
						padding-left: 0;
					}
				}	
			}	
		}	
	}	
}







